main {
  background-color: var(--black);
}

.container-main {
  width: 90%;
  height: 75vh;
  margin: auto;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 70% 20%;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-template-areas:
    "titulo banner"
    "mini banner";
  grid-gap: 3px;
}

.titulo-principal {
  grid-area: titulo;
  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.titulo-principal h1 {
  width: 100%;
  font-size: 60px;
  color: var(--white);
  word-break: break-all;
}

.titulo-principal a {
  width: 200px;
  height: 50px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin-bottom: 15px;
}
.titulo-principal a:hover {
  background-color: var(--grayHover);
}
.titulo-principal a strong {
  font-size: 0.8rem;
  margin-right: 15px;
  color: var(--black);
}
.mini-menu {
  grid-area: mini;
  width: 90%;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.mini-menu button {
  width: 150px;
  height: 50px;
  background: none;
  border: none;
}

.normal {
  width: 100%;
  height: 50px;
  border: 3px solid var(--black);
  object-fit: cover;
}

.active {
  width: 100%;
  height: 50px;
  background-color: var(--white);
  border: 3px solid var(--white);
  object-fit: cover;
}
.container-banner {
  grid-area: banner;
  width: 100%;
  height: auto;
}

.container-banner img {
  object-fit: cover;
  width: 100%;
  height: 70vh;
  border-radius: 17px;
}

@media (max-width: 1024px) {
  .container-main {
    height: 90vh;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "titulo"
      "banner"
      "mini";
  }
  .mini-menu {
    width: 100%;
    margin-top: 10%;
  }
  .titulo-principal {
    width: 100%;
    height: 200px;
    align-items: flex-start;
    justify-content: space-between;
  }

  .container-banner img {
    width: 100%;
    height: 30vh;
  }

  
}
