.header {
  background-color: #000;
}

.container-header {
  width: 90%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.container-header img {
  width: 200px;
}
.navbar {
  display: flex;
  align-items: flex-end;
  height: 70px;
}

.navbar a {
  margin-left: 28px;
  font-size: 25px;
  color: #fff;
  font-family: "Circular";
  padding-bottom: 15px;
  border-bottom: 1px solid #000;
}

.navbar a:hover {
  border-bottom: 1px solid white;
  color: #707070;
}

.menu-hamburguer {
  display: none;
}

@media (max-width: 1024px) {
  .container-header img {
    width: 150px;
  }

  .navbar {
    display: none;
  }
  .menu-hamburguer {
    position: absolute;
    top: 50px;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    
 
  }
  .primeira,
  .segunda,
  .terceira {
    width: 100%;
    height: 5px;
    background-color: #fff;
    border-radius: 2px;
  }
   

  .container-menu.on{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .container-menu.on .navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    height: 50vh;
  }

  .container-menu.on .menu-hamburguer{
    position: absolute;
    top: 50px;
    right: 70px;
  }

  .container-menu.on .menu-hamburguer .primeira{
    transform: rotate(45deg) translate(7px,7px);
  }
  .container-menu.on .menu-hamburguer .segunda{
    opacity: 0;
  }
  .container-menu.on .menu-hamburguer .terceira{
    transform: rotate(-45deg) translate(7px,-7px);
  }
}
