.header {
  background-color: #000;
}

.container-header {
  width: 90%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.container-header img{
  width: 200px;
}
.navbar {
  display: flex;
  align-items: flex-end;
  height: 70px;
}

.navbar a {
  margin-left: 28px;
  font-size: 25px;
  color: #fff;
  font-family: "Circular";
  padding-bottom: 15px;
  border-bottom: 1px solid #000;
}

.navbar a:hover {
  border-bottom: 1px solid white;
  color: #707070;
}
